# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Flask specific
instance/
*.sqlite
*.db

# SQLAlchemy Migrations
migrations/

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints/

# MacOS
.DS_Store

# Windows
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment Variables
.env
